body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("./Photos/fondo.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.eslogan{
    
    font-size: 2vw;
    font-family:Lucida;
    color:goldenrod;
    position: relative;
    top: 20px;
}

#button_eslogan{
    position: relative;
    top: 0px;
}

#download_button{
    font-size: 200%;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

.exp{
    
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 0, 0);
    
}


.titlex{
    
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:goldenrod;
    
}

.titlet{
    
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:goldenrod;
    text-align: center;
    text-shadow: 2px 2px #000000;
    
}

.war{
    
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px #000000;
    
}

.turn{
    
    font-size: 25px;
    color:black;
    text-align: left;
    
}

.par{
    
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(194, 88, 88);
    
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    margin-top: 5%;
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.slidershow{
    width: 1200px;
    height: 720px;
    margin-top: 600px;
    margin-bottom: 1%;
    overflow: hidden;
  }
  .middle{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: relative;
    bottom: 30px;
    left: 90%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }